readinglistmanager/__pycache__/
.vscode/
config.ini
ReadingLists/*
Results/*
Output/WEB/*
Output/CBL/*
Data/*
!Output/CBL/Example.cbl
!Data/cv.db
!Data/SeriesOverrides.json
!Data/views.txt
!ReadingLists/Example.cbl
!Data/data.db
*.DS_Store