.vscode/
readinglistmanager-OLD
__pycache__
ReadingLists/CBL/*
ReadingLists/TXT/*
Results/*
Output/*
Data/*
class.puml
*.ini
!Data/SeriesOverrides.json
!Data/views.txt
!ReadingLists/CBL/Example.cbl
!ReadingLists/TXT/Example.txt
*.DS_Store